.contact-us {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1 / span 5;
  }

  @include on-desktop {
    grid-column: 7 / span 5;
  }

  @include on-large-screen {
    grid-column: 8 / span 4;
  }

  &__title {
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__info {
    &-name {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.5;
      margin-bottom: 8px;
    }

    &-value {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      line-height: 150%;
      font-weight: 600;
    }

    &-icons {
      display: flex;
      gap: 32px;
      margin-top: 16px;
    }

    &-icon {
      width: 32px;
      height: 32px;

      &--facebook svg,
      &--twitter svg,
      &--instagram svg {
        fill: #fff;
        transition: fill 0.3s;
      }
      &--facebook svg:hover,
      &--twitter svg:hover,
      &--instagram svg:hover {
        fill: #2060f6;
      }
    }
  }
}
