.input {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);

  // box-sizing: border-box;
  width: 100%;

  outline: none;
  border-bottom: #fff solid 1px;
  background: none;
  padding-bottom: 16px;
  margin-bottom: 40px;

  @include on-tablet {
    margin-bottom: 48px;
  }

  &:active,
  &:focus,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-bottom: 2px solid $hover-blue-color;
    color: #fff;
  }

  &__textarea {
    resize: none;
    height: 26px;
    overflow-y: hidden;

    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: $main-blue-color;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 56px;
    color: #fff;

    cursor: pointer;

    @include on-tablet {
      width: 264px;
    }

    @include hover(transform, scale(1.2));
  }
}
