.send-us-massage {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1 / span 5;
  }

  @include on-desktop {
    grid-column: 1/6;
  }

  &__title {
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }
}
