.theme--color {
  .header {
    background: $header-bg-color--blue;

    @include on-desktop {
      border-radius: 0;
      border-bottom-left-radius: 200px;
    }
  }

  .header__slider {
    @include on-desktop {
      border-top-left-radius: 200px;
    }
  }

  .nav__link::after {
    background: $light-pink;
  }

  .theme-switcher::after {
    transform: translateX(100%);
    background-color: $light-pink;
  }

  .strategic-agency__button {
    border-radius: 64px;
    background-color: $light-pink;

    @include hover(background-color, $strong-pink);

    transition: all 0.4s;
  }

  .card {
    &__number {
      &--blue {
        color: #56ccf2;
        background-color: rgba($color: #56ccf2, $alpha: 0.1);
      }
      &--yellow {
        color: #fcc91d;
        background-color: rgba($color: #fcc91d, $alpha: 0.1);
      }
      &--green {
        color: #15d850;
        background-color: rgba($color: #15d850, $alpha: 0.1);
      }
      &--red {
        color: #f36363;
        background-color: rgba($color: #f36363, $alpha: 0.1);
      }
    }

    &__link {
      &--blue::before {
        background-color: #56ccf2;
      }
      &--yellow::before {
        background-color: #fcc91d;
      }
      &--green::before {
        background-color: #15d850;
      }
      &--red::before {
        background-color: #f36363;
      }
    }
  }

  .testimonials-card {
    &__image {
      &--blue::before,
      &--blue::after {
        background-color: #56ccf2;
      }
      &--yellow::before,
      &--yellow::after {
        background-color: #fcc304;
      }
      &--red::before,
      &--red::after {
        background-color: #f25656;
      }
    }

    &__quote-marks {
      &--blue svg {
        fill: #56ccf2;
      }
      &--yellow svg {
        fill: #fcc304;
      }
      &--red svg {
        fill: #f25656;
      }
    }
  }

  .cta-block {
    @include on-tablet {
      background-image: url(../images/Shapes_color.png);
    }

    &__button {
      border-radius: 64px;
      background-color: $light-pink;

      @include hover(background-color, $strong-pink);

      transition: all 0.4s;
    }
  }

  .footer {
    background-color: $light-blue;
    border-radius: 0 200px 0 0;
  }

  .input {
    &:active,
    &:focus {
      border-bottom: 2px solid #fff;
    }
    &__button {
      border-radius: 64px;
      background-color: $strong-pink;
    }
  }

  .contact-us__info-icon {
    &--facebook svg:hover,
    &--twitter svg:hover,
    &--instagram svg:hover {
      fill: #d2ebff;
    }
  }
}
