.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include content-padding-inline;

  @include on-tablet {
    margin-bottom: 56px;
  }

  @include on-desktop {
    justify-content: space-between;
    margin-bottom: 56px;
  }

  @include on-large-screen {
    margin-inline: 0;
  }

  &__menu {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__logo {
    height: 28px;
    cursor: pointer;
    margin-right: 32px;

    @include on-desktop {
      margin: 0;
    }

    @include hover(transform, scale(1.2));
  }

  &__icon-menu {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;

    &::after,
    &::before {
      content: '';
      width: 18px;
      height: 2px;
      background-color: #fff;
      position: absolute;

      transition: transform 0.3s;
      transform: scale(1);
      transform-origin: right;
    }
    &::after {
      top: 8px;
    }
    &::before {
      bottom: 8px;
    }

    &:hover::after {
      transform: scaleX(0.8);
    }

    @include on-desktop {
      display: none;
    }
  }

  &__right {
    margin-left: auto;

    display: flex;
    gap: 20px;
    align-items: center;

    @include on-desktop {
      margin: 0;
    }
  }
}
