@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@600;700&display=swap';
