$c-gray: #eee;
$transition-duration: 0.3s;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$large-screen-min-width: 1600px;
$main-blue-color: #2060f6;
$hover-blue-color: #144ed4;
$header-bg-color--dark: #2c2c2c;
$header-bg-color--blue: #008aff;
$titles-color: #253757;
$main-text-color: #6c788b;
$main-row-gap: 120px;
$main-row-gap-on-tablet: 148px;
$light-pink: #ff9c8e;
$strong-pink: #ff7e6c;
$light-blue: #008aff;
